body {
    background-color: rgb(51 65 85);
}

section.main {
    margin-top: 3rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .title {
    display: inline-block;
    margin: 0;
    color: rgb(51 65 85);
}

.banner .logos {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner .logos .logo-interco {
    height: 80px;
}

.banner .logos .logo-opensea {
    height: 40px;
}

.note {
    font-size:0.8rem;
}

.footer {
  text-align: right;
}
